.wrapper {
  display: flex;
}
.btn {
  display: inline-block;
  text-align: center;
  background-color: aqua;
  width: 60px;
  padding: 5px;
  border-radius: 5px;
}
.btn:not(:last-child) {
  margin-right: 20px;
}
.optionClasses {
  border: 1px solid black;
}
