.list {
  width: 60vw;
  padding-left: 80px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  list-style-type: disc;
}
p {
  color: black;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
}
